body{
 /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content 100%;
  font-family: 'VT323', monospace;
  font-size: 50px;*/
 
}

header{
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 50px;
  padding: 10px;
  height: 60px;;
}
/*
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
*/
/*
.window{
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 3;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 0, 131, 0.541);
}
*/


/*
.game{

width: 800px;
height: 600px;
background: url("img/blub.png") ;
animation: scroll 3s linear infinite;
position: relative;

}
*/
/*
.game .player{

  position: absolute;
  margin-left: -20px;
  width: 40px;

}
*/
/*
@keyframes scroll {

  from {

      background-position-y: 0px;
  }

  to {
      background-position-y: 561px;
  }
}
*/
